<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Emile</title>
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital@1&family=Tangerine:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="page-container">
      <h1>Who is Emile Zola?</h1>
      <section class="paragraph" id="life">
        <h3>Life</h3>
        <p>
          Zola was born in Paris in 1840 to François Zola (originally Francesco
          Zolla) and Émilie Aubert. His father was an Italian engineer and
          engineered the Zola Dam in Aix-en-Provence; his mother was French.<br />
          The family moved to Aix-en-Provence in the southeast when Émile was
          three years old. Four years later, in 1847, his father died, leaving
          his mother on a meager pension.<br />
          In 1858, the Zolas moved to Paris, where Émile's childhood friend Paul
          Cézanne soon joined him. Zola started to write in the romantic style.
          His widowed mother had planned a law career for Émile, but he failed
          his baccalauréat examination twice.<br />
          Before his breakthrough as a writer, Zola worked for minimal pay as a
          clerk in a shipping firm and then in the sales department for the
          publisher Hachette. He also wrote literary and art reviews for
          newspapers.<br />
          In 1862 Zola was naturalized as a French citizen.<br />
          In 1865, he met Éléonore-Alexandrine Meley, who called herself
          Gabrielle, a seamstress, who became his mistress. They married on 31
          May 1870.<br />
          In 1888, Alexandrine hired Jeanne Rozerot, a seamstress who was to
          live with them in their home in Médan. Zola fell in love with Jeanne
          and fathered two children with her: Denise in 1889 and Jacques in
          1891. After Jeanne left Médan for Paris, Zola continued to support and
          visit her and their children.<br />
          In November 1891 Alexandrine discovered the affair, which brought the
          marriage to the brink of divorce.The discord was partially healed,
          which allowed Zola to take an increasingly active role in the lives of
          the children. After Zola's death, the children were given his name as
          their lawful surname.
        </p>
      </section>
      <section class="paragraph">
        <h3>Death</h3>
        <p>
          Zola died on 29 September 1902 of carbon monoxide poisoning caused by
          an improperly ventilated chimney. His funeral on 5 October was
          attended by thousands. <br />
          His enemies were blamed for his death because of previous attempts on
          his life, but nothing could be proved at the time. <br />
          Zola was initially buried in the Cimetière de Montmartre in Paris, but
          on 4 June 1908, just five years and nine months after his death, his
          remains were relocated to the Panthéon, where he shares a crypt with
          Victor Hugo and Alexandre Dumas.
        </p>
      </section>
      <a href="/" class="link">Back Home</a>
    </div>
  </body>
</html>
